<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div>LOGIN</div>
<form action="/login" method="post">
    <input type="text" name="username" value="" placeholder="User Name">
    <input type="password" name="password" value="" placeholder="Password"><br>
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
    <input type="submit">
</form>
</body>
</html>